<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="/">Dump Mash</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a routerLinkActive="active" class="nav-item nav-link cursor" routerLink="/home">Home</a>
      <a routerLinkActive="active" class="nav-item nav-link cursor" routerLink="/collection-point">Recyclers</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <ng-template [ngIf]="!getIsMobileResolution()">
        <a class="nav-item nav-link cursor" target="_blank">
          <i class="fa fa-youtube"></i>
        </a>
        <a class="nav-item nav-link cursor" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="nav-item nav-link cursor" target="_blank">
          <i class="fa fa-medium"></i>
        </a>
      </ng-template>
      <ng-template [ngIf]="!authService.isAuthenticated()">
        <a routerLinkActive="active" class="nav-item nav-link cursor" style="cursor: pointer; font-size: 12px;" routerLink="/signin">Login</a>
      </ng-template>
      <ng-template [ngIf]="authService.isAuthenticated()">
        <a (click)="logout()" class="nav-item nav-link cursor" style="cursor: pointer; font-size: 12px;">Logout</a>
      </ng-template>
    </div>
  </div>
</nav>