<div class="jumbotron">
  <h1>Your Go-To List for Recyclers in Sri Lanka</h1>
  <p>
    In this day and age, it’s hard to find any public place that isn’t scattered with some form of garbage, whether it
    be a lonely shopping bag getting kicked around, or a plastic bottle getting tossed out of a car window, or pieces
    of paper getting blown about in the wind. This is especially true for our nation given that Sri Lanka has been
    named one of the top five plastic polluters in the world. It really is a shame that our country, which takes pride
    in housing more than a few of the most scenic locations, growing some of the finest tea in the world, and its
    unique culture, has to be associated with being a main contender to the destruction of our planet.
  </p>
</div>
<div class="row">
  <!-- <p>As of 2010, it was recorded that Sri Lanka generated 5.1 kilograms of waste per person per day and 0.24 to 0.64
    million metric tonnes of marine debris per year. Those are some pretty hefty digits.</p>

  <p>Albeit some of us have started to make a few notable changes here and there, it is not too late for others to join
    the race to save our environment. This, my fellow Sri Lankans, is where we bring the 3Rs into play. To Reduce,
    Reuse and Recycle means that you help yourself, your community, as well as the environment by saving money, energy
    and natural resources. The mere acts of taking your own bags when you go grocery shopping, separating and managing
    your waste properly, and reducing the use of plastic in your day to day lives can go a long way. Let’s not limit
    making our lives plastic free to the month of July; make a lifestyle change that’ll not only benefit you, but
    everyone else around you as well.</p> -->
</div>